body
{
  margin: 0;
  font-family: cursive;
  background-color: #2A2929;
}

header
{
  position: fixed;
  background-color: #000000;
  width: 100%;
  border-bottom: 3px solid #feff31;
  font-weight: bold;
}

#logo
{
  margin-left: 15%;
  float :left;
}

.menue
{
  margin-right: 15%;
  margin-top: 1.5%;
}

.menue:after, .menue:before
{
  margin-top:0.5em;
  content: "";
  float:right;
  border:1.5em solid #fff;
}

.menue:after
 {
  border-left-color:transparent;
}

.menue:before
{
  border-right-color:transparent;
}

.menue a:link, .menue a:visited
 {
  color:#000;
  text-decoration:none;
  float:right;
  height:3.5em;
  overflow:hidden;
}

.menue span
{
  background:#fff;
  display:inline-block;
  line-height:3em;
  padding:0 1em;
  margin-top:0.5em;
  position:relative;
  transition: background-color 0.2s, margin-top 0.2s;
  font-family: cursive;
}

.menue a:hover span
{
  background:#52dbc0;
  margin-top:0;
}

.menue span:before
{
  content: "";
  position:absolute;
  top:3em;
  left:0;
  border-right:0.5em solid #B4B4B4;
  border-bottom:0.5em solid #fff;
}

.menue span:after {
  content: "";
  position:absolute;
  top:3em;
  right:0;
  border-left:0.5em solid #B4B4B4;
  border-bottom:0.5em solid #fff;
}

.banniere
{
  background-color: #000000;
  width: 100%;
  padding-top: 6%;
  border-bottom: 3px solid #feff31;
}

#couverture
{
  margin-left: 2.5%;
  display: block;
}

.photoliens
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content : center;
  margin-bottom: 3%;
}

.photoliens a
{
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}


.section1
{
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 8%;
  width: 27%;
}

.section1 div
{
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 10px;
  text-align: center;
}

.section1 div h1
{
  font-weight: bold;
  color : #ffffff;
  font-size: 200%;
  text-decoration: underline #feff31;
}

.section1 div h2
{
  color : #ffffff;
  font-size: 150%;
}

.section1 div p
{
  color : #52dbc0;
  font-size: 100%;
}

.section1 div li
{
  color : #52dbc0;
  font-size: 100%;
  line-height: 20px;
}

.section1 li
{
  list-style: none;
}

.section2
{
  float: left;
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  width: 27%;
}

.section2 div
{
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 10px;
  text-align: center;
  margin-left: 5%;
}

.section2 div h1
{
  font-weight: bold;
  color : #ffffff;
  font-size: 200%;
  text-decoration: underline #feff31;
}

.section2 div h2
{
  color : #ffffff;
  font-size: 150%;
}

.section2 div p
{
  color : #52dbc0;
  font-size: 100%;
}

.section2 div li
{
  color : #52dbc0;
  font-size: 100%;
  line-height: 20px;
}

.section2 li
{
  list-style: none;
}

.section3
{
  float: left;
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  width: 27%;
}

.section3 div
{
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 10px;
  text-align: center;
  margin-left: 5%;
}

.section3 div h1
{
  font-weight: bold;
  color : #ffffff;
  font-size: 200%;
  text-decoration: underline #feff31;
}

.section3 div h2
{
  color : #ffffff;
  font-size: 150%;
}

.section3 div p
{
  color : #52dbc0;
  font-size: 100%;
}

.section3 div li
{
  color : #52dbc0;
  font-size: 100%;
  line-height: 20px;
}

.section3 li
{
  list-style: none;
}

.section2 .espace li
{
  line-height: 34px;
}

footer
{
  background-color: #000000;
  width: 100%;
  border-top: 3px solid #feff31;
  float : left;
  color : #ffffff;
}

.social
{
  float: left;
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 2%;
  margin-left: 10%;
}

.social a
{
  color : #52dbc0;
  font-size: 300%;
  letter-spacing: 60px;
}

.top a
{
  color : #52dbc0;
  font-size: 400%;
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

.legal
{
  margin-top: 1%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  width: 100%;
}

.legal a
{
  color : #403E3E;
  text-decoration: none;
  margin-left: 1%;
  margin-top: 15px;
}

.legal p
{
    color : #403E3E;
    margin-left: 1%;
}

.piedsPage
{
  margin-top: 2%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  width: 100%;
}

.piedsPage a
{
  color : #ffffff;
  text-decoration: none;
  margin-left: 1%;
  margin-top: 15px;
}

.piedsPage a:hover
{
    color : #feff31;
}

.social a:hover
{
    color : #feff31;
}
